@import "vars";
@import "fonts";
@import "global";

.reviews{
    background-color: #E5E5E5;
    padding-top: 25px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    &__top{
        position: relative;
        margin-bottom: 100px;
        @media screen and (max-width: 550px){
            margin-bottom: 40px;
        }
        &-subtitle{
            text-transform: uppercase;
            color: #8d8d8d;
            @extend %gothampro-bold;
            position: absolute;
            left: 0;
            top: 15px;
            @media screen and (max-width: 975px){
                position: relative;
            }
            @media screen and (max-width: 375px){
                font-size: 12px;
                line-height: 18px;
            }
        }
        &-title{
            @extend %gothampro-bold;
            font-size: 66px;
            line-height: 92px;
            max-width: 346px;
            margin: 0 auto;
            @media screen and (max-width: 975px){
                margin: 20px 0 0;
            }
            @media screen and (max-width: 375px){
                font-size: 34px;
                line-height: 48px;
            }
        }
    }
    &__item{
        padding: 0 9%;
        margin: 100px 0;
        &:last-child{
            margin: 50px 0;
        }
        @media screen and (max-width: 550px){
            margin: 40px 0;
            padding: 0;
        }
    }
    &__item-top{
        display: flex;
        justify-content: flex-start;
        padding-bottom: 50px;
        border-bottom: 1px solid #8E58FF;
        @media screen and (max-width: 650px){
            padding-bottom: 20px;
        }
    }
    &__item-left{
        & img{
            @media screen and (max-width: 550px){
                width: 67px;
            }
        }
    }
    &__item-right{
        margin-left: 145px;
        @media screen and (max-width: 950px){
            margin-left: 80px;
        }
        @media screen and (max-width: 650px){
            margin-left: 50px;
        }
        @media screen and (max-width: 550px){
            margin-left: 20px;
        }
    }
    &__item-name{
        font-size: 26px;
        line-height: 39px;
        @extend %gothampro-bold;
        margin-bottom: 5px;
        @media screen and (max-width: 550px){
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__item-star{
        & svg{
            width: 14px;
            height: 14px;
        }
    }
    &__item-date{
        margin-top: 10px;
        margin-bottom: 30px;
        color: #8d8d8d;
        @media screen and (max-width: 550px){
            margin-top: 6px;
        }
    }
    &__item-text{
        color: #8d8d8d;
        @media screen and (max-width: 650px){
            padding-top: 20px;
            margin-left: -225px;
            margin-top: 80px;
        }
        @media screen and (max-width: 637px){
            margin-top: 50px;
        }
        @media screen and (max-width: 550px){
            margin-left: -85px;
            padding-top: 0;
            margin-top: 0;
        }
    }
    &__item-bottom{
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;
        @media screen and (max-width: 550px){
            flex-direction: column;
        }
    }
    &__item-leftside{
        min-width: 256px;
        @media screen and (max-width: 650px){
            min-width: 174px;
        }
    }
    &__item-autor{
        color: #8E58FF;
        font-size: 20px;
        line-height: 30px;
        @extend %gothampro-bold;
        @media screen and (max-width: 650px){
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__item-work{
        line-height: 20px;
        @extend %gothampro-bold;
        color: #8E58FF;
        margin-top: 4px;
    }
    &__item-rightside{
        margin-left: 65px;
        color: #8E58FF;
        @media screen and (max-width: 950px){
            margin-left: 0;
        }
        @media screen and (max-width: 650px){
            margin-left: 50px;
        }
        @media screen and (max-width: 550px){
            margin-left: 0;
            margin-top: 30px;
        }
    }
}